/* General badge styling */
.badge {
  display: inline-block;
  background-color: #ffb74d; /* Badge background color */
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  margin: 0 5px;
  color: #fff; /* White text color for badge labels */
}

/* Specific icon styles for different badges */
.book .fa-star {
  color: gold !important; /* Gold color for Points Badge */
}

.book .fa-medal {
  color: silver !important; /* Silver color for Activity Badge */
}

.book .fa-fire {
  color: orange !important; /* Orange color for streak badges */
}

.book .fa-trophy {
  color: blue !important; /* Blue color for trophies */
}

.book .fa-star,
.book .fa-medal,
.book .fa-fire,
.book .fa-trophy {
  margin-right: 8px; /* Space between icons */
  font-size: 1.2em; /* Increase icon size for better visibility */
  display: inline-block; /* Ensure icons are displayed inline */
}
