.badge {
    display: inline-block;
    background-color: #ffb74d;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin: 0 5px;
    color: #fff;
  }
  

  .book .fa-star {
    color: gold;
  }
  
  .book .fa-medal {
    color: silver;
  }
  
  .book .fa-star, .book .fa-medal {
    margin-right: 8px;
    font-size: 1.2em;
  }
  